<mat-grid-tile-header>
  <p>
    <strong>{{ currency.name | uppercase }}</strong>
    <span class="currency__symbol">({{ currency.region }})</span>
  </p>
  <i class="material-icons">info</i>
</mat-grid-tile-header>

<mat-list>
  <mat-list-item>
    <strong>Capitale: </strong>
    <span>{{ currency.capital }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <strong>Monnaie: </strong>
    <span>{{ currency.currencies[0].name }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <strong>Symbol: </strong>
    <span>{{ currency.currencies[0].code }}</span>
    <strong class="currency__symbol">({{ currency.currencies[0].symbol }})</strong>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<mat-grid-tile-footer>
  <button mat-raised-button color="accent">
    Détail
    <i class="material-icons">remove_red_eye</i>
  </button>
</mat-grid-tile-footer>
