<mat-grid-tile-header>
    <strong>{{ currency.name }}</strong><i class="material-icons">info</i>
</mat-grid-tile-header>

<mat-list>
  <mat-list-item>
    <strong>{{ currency.name }}</strong>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>

</mat-list>

<mat-grid-tile-footer>
  <button mat-raised-button color="accent">
    Détail
    <i class="material-icons">remove_red_eye</i>
  </button>
</mat-grid-tile-footer>
