<mat-toolbar color="primary">
  <button mat-button>
    <i class="material-icons">language</i>
  </button>
  <span class="title">Currency catalog</span>
</mat-toolbar>

<mat-card>
  <mat-form-field class="example-form-field">
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Search" [(ngModel)]="value">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-card>

<mat-card>
  <mat-card-content>

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    <h2>Material Button</h2>

    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>

    <button mat-raised-button color="accent">
      Détail
      <i class="material-icons">remove_red_eye</i>
    </button>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
