<mat-toolbar color="primary">
  <button mat-button>
    <i class="material-icons">language</i>
  </button>
  <span class="title">Currency catalog</span>
</mat-toolbar>

<div fxLayoutAlign="center center" fxLayout.xs="column">
  <mat-form-field class="filter__form">
    <mat-select [(value)]="selectedRegion">
      <mat-option>None</mat-option>
      <mat-option value="{{region}}" *ngFor="let region of regionList">{{region}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter__form">
    <input matInput type="text" placeholder="Search" [(ngModel)]="searchTerm">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<app-displayer
  [searchTerm]="searchTerm"
  [selectedRegion]="selectedRegion">
</app-displayer>

<router-outlet></router-outlet>
