<div class="filter__wrapper">
  <mat-form-field class="filter__form">
    <mat-select [(value)]="selectedFiltre">
      <mat-option value="" selected>ALL</mat-option>
      <mat-option value="name">Name</mat-option>
      <mat-option value="code">Code</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter__form">
    <input matInput type="text" placeholder="Search" [(ngModel)]="searchTerm">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<app-displayer
  [searchTerm]="searchTerm"
  [selectedFiltre]="selectedFiltre">
</app-displayer>
