.filter {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  &__form {
    padding: 0 20px 0 0;
    width: 200px;
  }
  
}

@media only screen and (max-width: 600px) {
  .filter {
    &__wrapper {
      flex-direction: column;
    }
    
    &__form {
      padding: 0;
    }
    
  }  
}
